{% extends 'base.html' %}

{% load static %}

{% block content %}
    <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

    <div style="width: 1224px; height: 1000px; background-color: lavender" >
        <iframe src="https://mixtapeisfire.github.io/gba/launcher.html#pokemonred" style="width: 1224px; height: 800px">

        </iframe>
         <div style="background-color: white">
            <h3>Game may take a bit to load</h3>
            <div>
                <table>
                    <tr>
                        <th>control</th>
                        <th>keys</th>
                    </tr>
                    <tr>
                        <td>A button</td>
                        <td><kbd>X</kbd><kbd>J</kbd></td>
                    </tr>
                    <tr>
                        <td>B button</td>
                        <td><kbd>Y</kbd><kbd>Z</kbd></td>
                    </tr>
                    <tr>
                        <td>A button</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Select</td>
                        <td><kbd>Shift</kbd></td>
                    </tr>
                    <tr>
                        <td>Start</td>
                        <td>unknown at the moment</td>
                    </tr>

                </table>

            </div>

        </div>
    </div>


{% endblock %}
