{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="form-group" style="width: 900px;">
        <div>
            <div>
                <label>Choose Goal:</label>
            </div>
            <div>
                <select class="selectpicker" name="goal" onchange="testAjax()" id="goalBody2">
                    <option>All Types</option>
                    {% for i in types %}
                        <option>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>

        <div class="container" style="background-color: white">
            <table class="table table-striped table-hover table-bordered" id="table">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Total</th>
                    <th>Hp</th>
                    <th>Total</th>
                    <th>Attack</th>
                    <th>Defense</th>
                    <th>Sp. Attack</th>
                    <th>Sp. Defense</th>
                    <th>Speed</th>
                    <th>Color</th>
                    <th>Weight</th>
                    <th>Height</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
            </table>
        </div>

    </div>

    <script>
        /*
        var i = 0

            for (i ; i <= 721 ; i++) {
                var src = 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + i + '.png';
                var img = document.createElement('img');
                img.src = src;
                document.body.appendChild(img);
                if (i == 201) {
                    for (var j = 0; j <= 25; j++) {
                        var chr = String.fromCharCode(97 + j);
                        var src = 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + i + '-' + chr + '.png';
                        var img = document.createElement('img');
                        img.src = src;
                        document.body.appendChild(img);
                    }
                }
                var src = 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/' + i + '.png';
                var img = document.createElement('img');
                img.src = src;
                document.body.appendChild(img);
                if (i == 201) {
                    for (var j = 0; j <= 25; j++) {
                        var chr = String.fromCharCode(97 + j);
                        var src = 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/' + i + '-' + chr + '.png';
                        var img = document.createElement('img');
                        img.src = src;
                        document.body.appendChild(img);
                    }
                }
                var src = 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/' + i + '.png';
                var img = document.createElement('img');
                img.src = src;
                document.body.appendChild(img);
                if (i == 201) {
                    for (var j = 0; j <= 25; j++) {
                        var chr = String.fromCharCode(97 + j);
                        var src = 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/' + i + '-' + chr + '.png';
                        var img = document.createElement('img');
                        img.src = src;
                        document.body.appendChild(img);
                    }
                }
                var src = 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/' + i + '.png';
                var img = document.createElement('img');
                img.src = src;
                document.body.appendChild(img);
                if (i == 201) {
                    for (var j = 0; j <= 25; j++) {
                        var chr = String.fromCharCode(97 + j);
                        var src = 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/' + i + '-' + chr + '.png';
                        var img = document.createElement('img');
                        img.src = src;
                        document.body.appendChild(img);
                    }
                }
            }*/
    </script>

    <script>
        /*
        d3.select("body").selectAll("p")
                .data({{ file|safe }})
                .enter()
                .append("p")
                .text(function(d) {
                    return d.fields.name + " " + d.fields.type_1 + " " + d.fields.attack;
                });

        console.log({{ file|safe }});*/

    </script>

    <script>
     $('.selectpicker').selectpicker({
  style: 'btn-info',
  size: 4
});

    </script>




{% endblock %}