{% extends 'base.html' %}

{% load static %}

{% block content %}

    <style>

    .node {
      cursor: pointer;
    }

    .node:hover {
      stroke: #000;
      stroke-width: 1.5px;
    }

    .node--leaf {
      fill: white;
    }

    .label {
      font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-anchor: middle;
      text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    }

    .label,
    .node--root,
    .node--leaf {
      pointer-events: none;
    }

    </style>


    <div id="cirlcesd3" style="background-color: white; width: 1224px; height: 1010px">
        <script type="text/javascript">

            $.ajax({
                type: "GET",
                url: 'ajax/get_data/', //the script to call to get data
                data: {"name": "Charizard"},
                dataType: 'JSON',                //data format
                success: function(pokemons) {
                    var w = 1224, h = 1010;


                    var canvas = d3.select("#cirlcesd3")
                      .append("svg:svg")
                      .attr('width', w)
                      .attr('height', h);

                    var nodes = d3.layout.pack()
                      .value(function(d) { return d.size; })
                      .size([w, h])
                      .nodes(pokemons);

                    // Get rid of root node

                    canvas.selectAll('circles')
                        .data(nodes)
                      .enter().append('svg:circle')
                        .attr('cx', function(d) { return d.x; })
                        .attr('cy', function(d) { return d.y; })
                        .attr('r', function(d) { return d.r; })
                        .attr('fill', 'white')
                        .attr('stroke', 'grey')
                        .text(function (d) {
                                    return d.name;
                            });


                },
                failure: function(pokemons) {
                    alert('Got an error dude');
                }
            });


    </script>
    </div>


    <script type="text/javascript" src="{% static "js/d3.js" %}"></script>
{#    <script type="text/javascript" src="{% static "js/overviewJs/circlePacking.js" %}"></script>#}


{% endblock %}
