{% extends 'base.html' %}

{#
Majority of the Code for Circle packing was taken from: https://bl.ocks.org/mbostock/7607535
This was linked on the D3 homepage.
#}
{% load static %}

{% block content %}
{#    <script src="https://d3js.org/d3.v4.min.js"></script>#}
{##}
{#    <link rel="stylesheet" type="text/css" href="{% static "css/circlePacking.css" %}" />#}
{#    <script type="text/javascript" src = "{% static "js/overviewJs/d3CirclePacking.js" %}"></script>#}
{#    <svg width="1224" height="1400"></svg>#}
    <!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static "css/circlePacking.css" %}" />

<svg width="1224" height="1224"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src = "{% static "js/overviewJs/d3CirclePacking.js" %}"></script>

    <div class="mouse tooltip" >Mouse-tracking HTML Tip</div>

<div id="tooltipS" class="hidden" style="top: 0px; left: 0px;">
        <!--<p><strong id="header">Important Label Heading</strong></p>-->
        <p><span id="value">100</span></p>
</div>
    <div class="tooltipT">Test
    </div>

{% endblock %}
