{% extends 'base.html' %}

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block content %}
<html lang="en">

<div class="tab">
      <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Single')"  id="defaultOpen">Single Lookup</a>
      <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Double')">Double Compare</a>
</div>

<div id="Single" class="tabcontent" style="background-color: white">
    <div class="grad2">
        <div class="singleImageFront" style="padding-left: 70px">
            <img id="frontImg" style="width: 400px; height: 350px;" src="{% static "images/front/0.png" %}" alt="My image"/>
        </div>
        <div class="singleImageBack" style="padding-left: 20px">
            <img id="backImg" style="width: 400px; height: 350px" src="{% static "images/back/0.png" %}" alt="My image"/>
        </div>
    </div>
    <div class="doublePokeStatsDiv">
        <div class="firstPoke">
            <div class="singleComparePosition">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Pokemon" id="tags">
                    <span class="input-group-btn" style="width:0;">
                        <button class="btn btn-default" type="button" onclick="showPokemon()">Go!</button>
                    </span>
                </div>
            </div>
            <div style="font-family: sans-serif; font-size: 22px; padding-left: 35px; padding-top: 15px">
                <div id="singleIndex">
                    Pokedex: <span id="pokedex">4</span>
                </div>
                <div>
                    Generation: <span id="singleGen">1</span>
                </div>
                <div>
                    <div>
                        Type:
                    </div>
                    <div style="padding-left: 60px" id="singleType">
                        <span class="badge fireBadge">Fire</span>
                        <span class="badge grassBadge">Grass</span>
                    </div>
                </div>
                <div>
                    <div>
                        Egg Group:
                    </div>
                    <div style="padding-left: 60px" id="singleEgg">
                        <span class="badge monsterBadge">Monster</span>
                    </div>
                </div>
                <div>
                    Legendary: <span id="singleLegend">Yes</span>
                </div>
                <div>
                    Catch Rate: <span id="singleCatch">30%</span>
                </div>
                <div>
                    Body Style: <span id="singleBStyle">mon</span>
                </div>
                <div>
                    <div id="radioBut" style="padding-top: 15px">
                        <label class="radio-inline" id="normal">
                            <input type="radio" name="optradio" checked>Normal
                        </label>
                        <label class="radio-inline" id="shinny">
                            <input type="radio" name="optradio">Shinny
                        </label>
                    </div>
                </div>
            </div>

        </div>
        <div class="secondPoke">
            <svg id="singleChart"></svg>

        </div>

    </div>


</div>

<div id="Double" class="tabcontent" style="background-color: white">
    <div class="grad">
      VS
    </div>
    <div class="doublePokeStatsDiv">
        <div class="firstPoke">
            <div class="doubleComparePosition">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Pokemon" id="poke1">
                    <span class="input-group-btn" style="width:0;">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="secondPoke">
            <div class="doubleComparePosition">
                <div class="input-group" style="text-align: center;">
                    <input type="text" class="form-control" placeholder="Search Pokemon" id="poke2">
                    <span class="input-group-btn" style="width:0;">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static "js/pcompare.js" %}"></script>

{% endblock %}
