{% extends 'base.html' %}

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block content %}
<html lang="en">

<div class="tab">
      <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Single')"  id="defaultOpen">Single Lookup</a>
      <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Double')">Double Compare</a>
</div>

<div id="Single" class="tabcontent" style="background-color: white">
    <div class="grad2">
        <div class="singleImageFront" style="padding-left: 70px">
            <img id="frontImg" style="width: 400px; height: 350px;" src="{% static "images/front/0.png" %}" alt="My image"/>
        </div>
        <div class="singleImageBack" style="padding-left: 20px">
            <img id="backImg" style="width: 400px; height: 350px" src="{% static "images/back/0.png" %}" alt="My image"/>
        </div>
    </div>
    <div class="doublePokeStatsDiv">
        <div class="firstPoke">
            <div class="singleComparePosition">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Pokemon" id="tags">
                    <span class="input-group-btn" style="width:0;">
                        <button class="btn btn-default" type="button" onclick="showPokemon()">Go!</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="secondPoke" id="d3work">
            <span class="badge fireBadge">Fire</span>
        </div>
    </div>
</div>

<div id="Double" class="tabcontent" style="background-color: white">
    <div class="grad">
      VS
    </div>
    <div class="doublePokeStatsDiv">
        <div class="firstPoke">
            <div class="doubleComparePosition">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Pokemon" id="poke1">
                    <span class="input-group-btn" style="width:0;">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="secondPoke">
            <div class="doubleComparePosition">
                <div class="input-group" style="text-align: center;">
                    <input type="text" class="form-control" placeholder="Search Pokemon" id="poke2">
                    <span class="input-group-btn" style="width:0;">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static "js/pcompare.js" %}"></script>

{% endblock %}
