{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="one">
    <div style="padding-left: 25px; padding-top: 10px; padding-right: 25px">
        <div>
            <label>Choose Generation:</label>
        </div>
        <div>
            <select class="selectpicker" name="gen" id="genBody">
                <option>All Generations</option>
                {% for i in "123456" %}
                    <option>Generation {{ i }}</option>
                {% endfor %}
            </select>
        </div>

    </div>

    <div style="padding-left: 25px; padding-top: 10px; padding-right: 25px">
        <div>
            <label>Choose Type:</label>
        </div>
        <div>
            <select class="selectpicker" name="type" id="typeBody">
                <option>All Types</option>
                {% for i in types %}
                    <option>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div style="padding-left: 25px; padding-top: 10px; padding-right: 25px">
        <div>
            <label>Choose Color:</label>
        </div>
        <div>
            <select class="selectpicker" name="color" id="colorBody">
                <option>All Colors</option>
                {% for i in colors %}
                    <option>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>


    <div style="padding-left: 25px; padding-top: 25px; padding-right: 20px">
        <p style="background-color: #aaaaaa">
            <label for="amount">Weight range:</label>
            <input type="text" id="amount" readonly style="font-weight:bold; background-color: #aaaaaa">
            <label id="amount">3</label>
        </p>

        <div id="slider-range"></div>
    </div>


    <div style="padding-top: 30px; width: 240px; padding-left: 25px">
        <label for="amount" id="value" style="padding-bottom: 10px">Weight range:</label>
        <div class="flat-slider" id="flat-slider" ></div>
    </div>

</div>



<div class="two">
    <div class="bubbleSize">
        <label class="paddingBubble">Bubble Size By:</label>
        <form action="" class="paddingBubbleRadio">
            <label class="radio-inline">
                <input type="radio" name="optradio" checked>Total
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio">HP
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio">Attack
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio">Defense
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio">Sp. Attack
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio">Sp. Defense
            </label>
        </form>
    </div>
    <div id="mydiv">
		<script type="text/javascript">
			//Width and height
			var w = 769;
			var h = 628;

			var dataset = [[385,314,0],
                [30,30,0],
                [740,600,0],
                [30,600,0],
                [740,30,0]];

			var data = [0,10,15,20,25];

			for (var i=0;i<data.length;i++){
			    dataset[i][2] = data[i];
            }

			//Create SVG element
			var svg = d3.select("#mydiv")
						.append("svg")
						.attr("width", w)
						.attr("height", h);

			svg.selectAll("circle")
			   .data(dataset)
			   .enter()
			   .append("circle")
			   .attr("cx", function(d) {
			   		return d[0];
			   })
			   .attr("cy", function(d) {
			   		return d[1];
			   })
			   .attr("r", function (d) {
                   return d[2];
               })
                .attr("fill", "white")
                .attr("stroke", "black");
		</script>



    </div>

</div>

<script>
 $(".dropdown-menu li a").click(function(){
      var selText = $(this).text();
      $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
    });
</script>

<script>
    $('.selectpicker').selectpicker({
      style: 'btn-info',
      size: 4
    });
</script>

<script>
    $( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 952,
      values: [ 75, 300 ],
      slide: function( event, ui ) {
        $( "#amount" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( $( "#slider-range" ).slider( "values", 0 ) +
      " - " + $( "#slider-range" ).slider( "values", 1 ) );
    } );

</script>

<script>
    $('#flat-slider').slider({
        orientation: 'horizontal',
        range:       true,
        values:      [0, 952],

    });
</script>


{% endblock %}

