{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class='one'>
    <!-- Generation select drop down-->
    <div style='padding-left: 25px; padding-top: 10px; padding-right: 25px'>
        <div>
            <label>Choose Generation:</label>
        </div>
        <div>
            <select class='selectpicker' name='gen' id='genBody'>
                <option>All Generations</option>
                {% for i in '123456' %}
                    <option>Generation {{ i }}</option>
                {% endfor %}
            </select>
        </div>

    </div>

    <!-- Type select drop down-->
    <div style='padding-left: 25px; padding-top: 10px; padding-right: 25px'>
        <div>
            <label>Choose Type:</label>
        </div>
        <div>
            <select class='selectpicker' name='type' id='typeBody'>
                <option>All Types</option>
                {% for i in types %}
                    <option>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- Color select drop down-->
    <div style='padding-left: 25px; padding-top: 10px; padding-right: 25px'>
        <div>
            <label>Choose Color:</label>
        </div>
        <div>
            <select class='selectpicker' name='color' id='colorBody'>
                <option>All Colors</option>
                {% for i in colors %}
                    <option>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- Weight range slider-->
    <div style='padding-left: 25px; padding-top: 25px; padding-right: 20px'>
        <p style='background-color: #aaaaaa'>
            <label for='amount'>Weight range:</label>
            <input type='text' id='amountW' readonly style='font-weight:bold; background-color: white'>
        </p>

        <div id='slider-range'></div>
    </div>

    <!-- height range slider-->
    <div style='padding-left: 25px; padding-top: 25px; padding-right: 20px'>
        <p style='background-color: #aaaaaa'>
            <label for='amount'>Height range:</label>
            <input type='text' id='amountH' readonly style='font-weight:bold; background-color: white'>
        </p>

        <div id='slider-range2'></div>
    </div>

    <!-- HP range slider-->
    <div style='padding-left: 25px; padding-top: 25px; padding-right: 20px'>
        <p style='background-color: #aaaaaa'>
            <label for='amount'>HP range:</label>
            <input type='text' id='amountHP' readonly style='font-weight:bold; background-color: white'>
        </p>
        <div id='slider-range3'></div>
    </div>

    <!-- Attack range slider-->
    <div style='padding-left: 25px; padding-top: 25px; padding-right: 20px'>
        <p style='background-color: #aaaaaa'>
            <label for='amount'>Attack range:</label>
            <input type='text' id='amountA' readonly style='font-weight:bold; background-color: white'>
        </p>
        <div id='slider-range4'></div>
    </div>

    <!-- Defense range slider-->
    <div style='padding-left: 25px; padding-top: 25px; padding-right: 20px'>
        <p style='background-color: #aaaaaa'>
            <label for='amount'>Defense range:</label>
            <input type='text' id='amountD' readonly style='font-weight:bold; background-color: white'>
        </p>
        <div id='slider-range5'></div>
    </div>

    <!-- Sp. Attack range slider-->
    <div style='padding-left: 25px; padding-top: 25px; padding-right: 20px'>
        <p style='background-color: #aaaaaa'>
            <label for='amount'>Sp. Attack range:</label>
            <input type='text' id='amountSA' readonly style='font-weight:bold; background-color: white'>
        </p>
        <div id='slider-range6'></div>
    </div>

    <!-- Sp. Defense range slider-->
    <div style='padding-left: 25px; padding-top: 25px; padding-right: 20px'>
        <p style='background-color: #aaaaaa'>
            <label for='amount'>Sp. Defense range:</label>
            <input type='text' id='amountSD' readonly style='font-weight:bold; background-color: white'>
        </p>
        <div id='slider-range7'></div>
    </div>

    <!-- Speed range slider-->
    <div style='padding-left: 25px; padding-top: 25px; padding-right: 20px'>
        <p style='background-color: #aaaaaa'>
            <label for='amount'>Speed range:</label>
            <input type='text' id='amountSP' readonly style='font-weight:bold; background-color: white'>
        </p>
        <div id='slider-range8'></div>
    </div>

    <br><br>

    <div style="padding-left: 25px;">
        <input style="width: 220px" class="btn btn-default" type="submit" value="Submit" onclick="getFilteredPokemon()">
    </div>

</div>

<div class='two'>
    <div class='bubbleSize'>
        <label class='paddingBubble'>Bubble Size By:</label>
        <form action='' class='paddingBubbleRadio' id="StatRadio">
            <label class='radio-inline'>
                <input type='radio' name='optradio' checked>Total
            </label>
            <label class='radio-inline'>
                <input type='radio' name='optradio'>HP
            </label>
            <label class='radio-inline'>
                <input type='radio' name='optradio'>Attack
            </label>
            <label class='radio-inline'>
                <input type='radio' name='optradio'>Defense
            </label>
            <label class='radio-inline'>
                <input type='radio' name='optradio'>Sp. Attack
            </label>
            <label class='radio-inline'>
                <input type='radio' name='optradio'>Sp. Defense
            </label>
        </form>
    </div>
    <div id='mydiv'>
        <svg id='mySvg' width='0' height='0' xmlns:xlink='http://www.w3.org/1999/xlink'>
      <defs id='mdef'>
        <pattern id='image0' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png'/>
        </pattern>
        <pattern id='image1' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png'/>
        </pattern>
          <pattern id='image2' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/3.png'/>
        </pattern>
          <pattern id='image3' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png'/>
        </pattern>
          <pattern id='image4' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/5.png'/>
        </pattern>
          <pattern id='image5' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png'/>
        </pattern>
          <pattern id='image6' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/7.png'/>
        </pattern>
          <pattern id='image7' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/8.png'/>
        </pattern>
          <pattern id='image8' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/9.png'/>
        </pattern>
          <pattern id='image9' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/10.png'/>
        </pattern>
          <pattern id='image10' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/11.png'/>
        </pattern>
          <pattern id='image11' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/12.png'/>
        </pattern>
          <pattern id='image12' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/13.png'/>
        </pattern>
          <pattern id='image13' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/14.png'/>
        </pattern>
          <pattern id='image14' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/15.png'/>
        </pattern>
          <pattern id='image15' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/16.png'/>
        </pattern>
          <pattern id='image16' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/17.png'/>
        </pattern>
          <pattern id='image17' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/18.png'/>
        </pattern>
          <pattern id='image18' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/19.png'/>
        </pattern>
          <pattern id='image19' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/20.png'/>
        </pattern>
          <pattern id='image20' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/21.png'/>
        </pattern>
          <pattern id='image21' x='0' y='0' height='60' width='60'>
          <image x='0' y='0' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/22.png'/>
        </pattern>
          <pattern id='image22' x='0' y='0' height='60' width='60'>
          <image x='30' y='30' width='60' height='60' xlink:href='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/23.png'/>
        </pattern>
      </defs>
</svg>
    </div>

</div>

<script>
 $('.dropdown-menu li a').click(function(){
      var selText = $(this).text();
      $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class=caret></span>');
      $('#image0 image').attr('xlink:href','https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png');
    });
</script>

    <script type="text/javascript" src="{% static "js/searchAjax.js" %}"></script>
    <script type="text/javascript" src="{% static "js/searchHelpers.js" %}"></script>
    <script type="text/javascript" src="{% static "js/searchDisplay.js" %}"></script>

{% endblock %}

