{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class='one' id="one">
    <!-- Generation select drop down-->
    <div class="SelectDropdowns">
        <div>
            <label>Choose Generation:</label>
        </div>
        <div>
            <select class='selectpicker' name='gen' id='genBody'>
                <option>All Generations</option>
                {% for i in '123456' %}
                    <option>Generation {{ i }}</option>
                {% endfor %}
            </select>
        </div>

    </div>

    <!-- Type select drop down-->
    <div class="SelectDropdowns">
        <div>
            <label>Choose Type:</label>
        </div>
        <div>
            <select class='selectpicker' name='type' id='typeBody'>
                <option>All Types</option>
                {% for i in types %}
                    <option>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- Color select drop down-->
    <div class="SelectDropdowns">
        <div>
            <label>Choose Color:</label>
        </div>
        <div>
            <select class='selectpicker' name='color' id='colorBody'>
                <option>All Colors</option>
                {% for i in colors %}
                    <option>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- Weight range slider-->
    <div class="searchSilders">
        <p style='background-color: #aaaaaa'>
            <label for='amount'>Weight range:</label>
            <input type='text' id='amountW' readonly class="searchSilderInput">
        </p>

        <div id='slider-range'></div>
    </div>

    <!-- height range slider-->
    <div class="searchSilders">
        <p style='background-color: #aaaaaa'>
            <label for='amount'>Height range:</label>
            <input type='text' id='amountH' readonly class="searchSilderInput">
        </p>

        <div id='slider-range2'></div>
    </div>

    <!-- HP range slider-->
    <div class="searchSilders">
        <p style='background-color: #aaaaaa'>
            <label for='amount'>HP range:</label>
            <input type='text' id='amountHP' readonly class="searchSilderInput">
        </p>
        <div id='slider-range3'></div>
    </div>

    <!-- Attack range slider-->
    <div class="searchSilders">
        <p style='background-color: #aaaaaa'>
            <label for='amount'>Attack range:</label>
            <input type='text' id='amountA' readonly class="searchSilderInput">
        </p>
        <div id='slider-range4'></div>
    </div>

    <!-- Defense range slider-->
    <div class="searchSilders">
        <p style='background-color: #aaaaaa'>
            <label for='amount'>Defense range:</label>
            <input type='text' id='amountD' readonly class="searchSilderInput">
        </p>
        <div id='slider-range5'></div>
    </div>

    <!-- Sp. Attack range slider-->
    <div class="searchSilders">
        <p style='background-color: #aaaaaa'>
            <label for='amount'>Sp. Attack range:</label>
            <input type='text' id='amountSA' readonly class="searchSilderInput">
        </p>
        <div id='slider-range6'></div>
    </div>

    <!-- Sp. Defense range slider-->
    <div class="searchSilders">
        <p style='background-color: #aaaaaa'>
            <label for='amount'>Sp. Defense range:</label>
            <input type='text' id='amountSD' readonly class="searchSilderInput">
        </p>
        <div id='slider-range7'></div>
    </div>

    <!-- Speed range slider-->
    <div class="searchSilders">
        <p style='background-color: #aaaaaa'>
            <label for='amount'>Speed range:</label>
            <input type='text' id='amountSP' readonly class="searchSilderInput">
        </p>
        <div id='slider-range8'></div>
    </div>

</div>

<div class='two' id="two">

    <div class='bubbleSize'>
        <label class='paddingBubble'>Bubble Size By:</label>
        <form action='' class='paddingBubbleRadio' id="StatRadio">
            <label class='radio-inline'>
                <input type='radio' name='optradio' value="total" checked>Total
            </label>
            <label class='radio-inline'>
                <input type='radio' name='optradio' value="hp">HP
            </label>
            <label class='radio-inline'>
                <input type='radio' name='optradio' value="attack">Attack
            </label>
            <label class='radio-inline'>
                <input type='radio' name='optradio' value="defense">Defense
            </label>
            <label class='radio-inline'>
                <input type='radio' name='optradio' value="sp_attack">Sp. Attack
            </label>
            <label class='radio-inline'>
                <input type='radio' name='optradio' value="sp_defense">Sp. Defense
            </label>
            <div style="float: right; padding-right: 40px">
                <button class="btn btn-default btn-xs" type="button"  id="compareT" >Compare Team</button>
            </div>
        </form>
    </div>

    <div id='mydiv'>
        <svg id='mySvg' width='0' height='0' xmlns:xlink='http://www.w3.org/1999/xlink'>
      <defs id='mdef'>
        <pattern id='image0' x='0' y='0' height='1' width='1' class="svg-image" >
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
        <pattern id='image1' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image2' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image3' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image4' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image5' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image6' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image7' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image8' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image9' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image10' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image11' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image12' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image13' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image14' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image15' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image16' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image17' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image18' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image19' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image20' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image21' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='image22' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='0' y='0' width='60' height='60' xlink:href=""/>
        </pattern>
          <pattern id='popupImage' x='0' y='0' height='1' width='1' class="svg-image">
          <image class="pokeimage" x='20' y='20' width='60' height='60' xlink:href=""/>
        </pattern>
      </defs>
</svg>
    </div>

</div>

    <div id="tooltipS" class="hidden">
        <!--<p><strong id="header">Important Label Heading</strong></p>-->
        <p><span id="name" style="font-weight: bold;font-size: 20pt">100</span></p>
        <p><span style="font-weight: bold">Height: </span><span id="height">height</span><span> m</span></p>
        <p><span style="font-weight: bold">weight: </span><span id="weight">weight</span><span> Kg</span></p>
        <p><span style="font-weight: bold">HP: </span><span id="hp">hp</span></p>
        <p><span style="font-weight: bold">Attack: </span><span id="attack">attack</span></p>
        <p><span style="font-weight: bold">Defense: </span><span id="defense">defense</span></p>
        <p><span style="font-weight: bold">Sp. Attack: </span><span id="sp_attack">special attack</span></p>
        <p><span style="font-weight: bold">Sp. Defense: </span><span id="sp_defense">special defense</span></p>
        <p><span style="font-weight: bold">Speed: </span><span id="speed">speed</span></p>
        <p><span style="font-weight: bold">Type: </span><span id="type">placeholder</span></p>
    </div>

    <div style="z-index: 90000" id="popupS" class="hidden">
        <p id="pokename" style="font-weight: bolder;font-size: 20pt"> </p>
        <div style="position: absolute; top: 50%; height: 200px; margin-top: -100px; left: 50%; width: 400px; margin-left: -100px" id="test"></div>
        <div style="position: absolute; height:200px; width:100px; top: 50%; margin-top: -59px; margin-left: 120px; left: 50%" id="legend"></div>
        <div style="position: absolute; height: 100px; width: 100px; top: 50%; margin-top: -50px;margin-left: -50px; left: 50%; z-index: 90000" id="circleimage"></div>
    </div>

<script>
 $('.dropdown-menu li a').click(function(){
      var selText = $(this).text();
      $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class=caret></span>');
      $('#image0 image').attr('xlink:href','https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png');
    });
</script>
    <script type="text/javascript" src="{% static "js/d3.js" %}"></script>
    <script type="text/javascript" src="{% static "js/searchJs/searchAjax.js" %}"></script>
    <script type="text/javascript" src="{% static "js/searchJs/searchHelpers.js" %}"></script>
    <script type="text/javascript" src="{% static "js/searchJs/searchDisplay.js" %}"></script>

{% endblock %}

