{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static "css/tcomparision.css" %}" />
    <div class="toparea">
        <div class="input-group pokesearch" id="pokesearch">
                <span class="input-group-btn" style="width:0;">
                    <button class="btn btn-default" type="button"  id="addbuttonleft">Add to my team</button>
                </span>
            <input type="text" class="form-control" placeholder="Search Pokemon" id="pokeinput">
            <span class="input-group-btn" style="width:0;">
                    <button class="btn btn-default" type="button"  id="addbuttonright">Add to enemy team</button>
                </span>
        </div>
    </div>
    <div class="container-fluid" id="maindiv">
        <svg id='mySvg' width='0' height='0' xmlns:xlink='http://www.w3.org/1999/xlink'>
            <defs id='mdef'>
                <pattern id='imageleft0' x='0' y='0' height='1' width='1' class="svg-image" >
                    <image class="pokeimage" x='10' y='10' width='60' height='60' xlink:href=""/>
                </pattern>
                <pattern id='imageleft1' x='0' y='0' height='1' width='1' class="svg-image" >
                    <image class="pokeimage" x='10' y='10' width='60' height='60' xlink:href=""/>
                </pattern>
                <pattern id='imageleft2' x='0' y='0' height='1' width='1' class="svg-image" >
                    <image class="pokeimage" x='10' y='10' width='60' height='60' xlink:href=""/>
                </pattern>
                <pattern id='imageleft3' x='0' y='0' height='1' width='1' class="svg-image" >
                    <image class="pokeimage" x='10' y='10' width='60' height='60' xlink:href=""/>
                </pattern>
                <pattern id='imageleft4' x='0' y='0' height='1' width='1' class="svg-image" >
                    <image class="pokeimage" x='10' y='10' width='60' height='60' xlink:href=""/>
                </pattern>
                <pattern id='imageleft5' x='0' y='0' height='1' width='1' class="svg-image" >
                    <image class="pokeimage" x='10' y='10' width='60' height='60' xlink:href=""/>
                </pattern>
                <pattern id='imageright0' x='0' y='0' height='1' width='1' class="svg-image" >
                    <image class="pokeimage" x='10' y='10' width='60' height='60' xlink:href=""/>
                </pattern>
                <pattern id='imageright1' x='0' y='0' height='1' width='1' class="svg-image" >
                    <image class="pokeimage" x='10' y='10' width='60' height='60' xlink:href=""/>
                </pattern>
                <pattern id='imageright2' x='0' y='0' height='1' width='1' class="svg-image" >
                    <image class="pokeimage" x='10' y='10' width='60' height='60' xlink:href=""/>
                </pattern>
                <pattern id='imageright3' x='0' y='0' height='1' width='1' class="svg-image" >
                    <image class="pokeimage" x='10' y='10' width='60' height='60' xlink:href=""/>
                </pattern>
                <pattern id='imageright4' x='0' y='0' height='1' width='1' class="svg-image" >
                    <image class="pokeimage" x='10' y='10' width='60' height='60' xlink:href=""/>
                </pattern>
                <pattern id='imageright5' x='0' y='0' height='1' width='1' class="svg-image" >
                    <image class="pokeimage" x='10' y='10' width='60' height='60' xlink:href=""/>
                </pattern>
            </defs>
        </svg>
    </div>
    <div class="barchart" id="barchart">
        <div class="leftbar" id="leftbar">
            <div id="chartarea"></div>
        </div>
        <div class="rightbar" id="rightbar">
        </div>

    </div>
    <!-- Scripts -->
    <script type="text/javascript" src="{% static "js/d3.js" %}"></script>
    <script type="text/javascript" src="{% static "js/teamCompare.js" %}"></script>

{% endblock %}

