html, body {
    width: 1024px;
    height: 768px;
    background-color: lavender;
    margin-left:auto;
    margin-right:auto;
}

.container {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
h1 {
    margin: 0;
    padding: 0;
}

.searchStyle {
    background-color: #90caf9;
    color: black;
    width: 205px;
    text-align: center;
}

.overviewStyle {
    background-color: #92d36e;
    color: black;
    width: 205px;
    text-align: center;
}

.singleStyle {
    background-color: #ff5d55;
    color: black;
    width: 205px;
    text-align: center;
}

.doubleStyle {
    background-color: #ff5d55;
    color: black;
    width: 205px;
    text-align: center;
}

.teamStyle {
    background-color: #fefb64;
    color: black;
    width: 205px;
    text-align: center;
}

.battleStyle {
    background-color: #f54378;
    color: black;
    width: 204px;
    text-align: center;
}

.one {
    width: 255px;
    height: 718px;
    background: #aaaaaa;
    float: left;
}

.leftCompare {
    width: 350px;
    height: 540px;
    background: #aaaaaa;
    float: left;
}

.singleImageFront {
    width: 50%;
    float: left;
}

.firstPoke {
    width: 50%;
    height: 50px;
    float: left;
}

.singleInfo {
    width: 50%;
    height: 353px;
    float: left;
}

.two {
    width: 1024px;
    height: 718px;
    background: white;
}

.rightCompare {
    width: 647px;
    height: 540px;
    background: #aaaaaa;
    float: left;
}

.singleImageBack {
    margin-left: 50%;
}

.secondPoke {
    margin-left: 50%;
    height: 50px;
}

.singleStats {
    margin-left: 50%;
    height: 353px;
}

/*Single Pokemon compare pages*/
.singleStatsLeft {
    width: 50%;
    height: 200px;
    float: left;
}

.singleStatsRight {
    margin-left: 50%;
    height: 200px;
}

.fontStyleSinglePoke {
    font-family: sans-serif;
    font-size: 22px;
    padding-left: 35px;
    padding-top: 15px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding-left: 15px;
    padding-right: 15px;

}

.bar:hover {
  fill: #ff5d55;
}

.singleBarRadio {
    padding-top: 15px;
    height: 50px;
    font-family: sans-serif;
    font-size: 20px;
    padding-left: 35px;
}

/*End of single style*/

/*Multi Pokemon Compare*/

.multiTop {
    height: 200px;
    font-family: sans-serif;
    font-size: 25px;
    font-style: italic;
    border-radius: 5px;
    border: 4px solid black;
}

.multiTextInputPad {
    padding-top: 20px;
    padding-left: 20px;
}

.multiStatsDiv {
    background-color: #F0F0FF;
    height: 770px;
    border-radius: 5px;
    border: 4px solid black;
}

/*End of Multi Pokemon Compare style*/
.bubbleSize {
    width: 1024px;
    height: 60px;
    background: #aaaaaa;
    padding-top: 10px;
}

.paddingBubble {
    padding-left: 20px;
}

.paddingBubbleRadio {
    padding-left: 275px;
}

.genSelect {
    width: 200px;
    background-color: white;
}

.filterPadding {
    padding-left: 20px;
    padding-top: 25px;
    padding-right: 20px;
}

/*tab experiment*/

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 1024px;
}

/* Style the links inside the tab */
div.tab a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
div.tab a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    width: 1024px;
    height: 1290px;
}

/*compare*/
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grad {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#6DF5E9, #57E142); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#6DF5E9, #57E142); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#6DF5E9, #57E142); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6DF5E9, #57E142); /* Standard syntax */
    height: 350px;
    text-align: center;
    padding-top: 175px;
    font-family: sans-serif;
    font-size: 25px;
    font-style: italic;
    border-radius: 5px;
    border: 4px solid black;
}

.grad2 {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#6DF5E9, #57E142); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#6DF5E9, #57E142); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#6DF5E9, #57E142); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6DF5E9, #57E142); /* Standard syntax */
    height: 350px;
    font-family: sans-serif;
    font-size: 25px;
    font-style: italic;
    border-radius: 5px;
    border: 4px solid black;
}

.doublePokeStatsDiv {
    background-color: #F0F0FF;
    height: 935px;
    border-radius: 5px;
    border: 4px solid black;
}

.doubleComparePosition {
    padding-top: 8px;
    padding-left: 120px;
}

.singleComparePosition {
    padding-top: 8px;
    padding-left: 40px;
}

/* Badges */
.grassBadge {
    color: white;
    background-color: #6cb649;
}

.fireBadge {
    color: white;
    background-color: #ff5d55;
}

.waterBadge {
    color: white;
    background-color: #5382ea;
}

.fightingBadge {
    color: white;
    background-color: #a02a26;
}

.steelBadge {
    color: white;
    background-color: #a7a8be;
}

.electricBadge {
    color: white;
    background-color: #f2c735;
}

.iceBadge {
    color: white;
    background-color: #84cfcf;
}

.normalBadge {
    color: white;
    background-color: #99986a;
}

.bugBadge {
    color: white;
    background-color: #95a22c;
}

.dragonBadge {
    color: white;
    background-color: #5b2eef;
}

.psychicBadge {
    color: white;
    background-color: #f54378;
}

.ghostBadge {
    color: white;
    background-color: #5d4b7e;
}

.poisonBadge {
    color: white;
    background-color: #933f93;
}

.fariyBadge {
    color: white;
    background-color: #e287e2;
}

.darkBadge {
    color: white;
    background-color: #5d483d;
}

.rockBadge {
    color: white;
    background-color: #a48f3a;
}

.monsterBadge {
    color: white;
    background-color: burlywood;
}

/* applies to GIF and PNG images; avoids blurry edges */
img[src$=".gif"], img[src$=".png"] {
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}
